* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    font-family: Poppins, sans-serif;
    background: #142334;
    color: #a6adba;
}

header {
    height: 100vh;
}

#navHead {
    width: 100%;
    height: 8vh;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem;
    font-size: 1.74vw;
    font-weight: 700;
}

button {
    padding: 9px;
    font-size: 1.1vw;
    font-weight: 600;
    background: #641ae6;
    color: azure;
    text-align: center;
    text-transform: uppercase;
    border: none;
    border-radius: 7.5px;
    transition: .26s ease-in-out;
}

button:hover {
    cursor: pointer;
    background: #4a11ac;
}

li {
    list-style: none;
}

#hero-Section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.82rem;
    padding: 1.2vw;
}

#hero-Section h1 {
    font-size: 3.8em;
}

#hero-Section p {
    width: 46vw;
    text-align: center;
    font-size: 1.2em;
}

#demoShowing {
    display: flex;
    justify-content: center;
    align-items: center;

}

#searchSection {
    /* margin-top: -12rem; */
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #1c2127e8;
    line-height: 6rem;
}

#searchSection h1 {
    font-size: 2.31em;
}

input {
    background: transparent;
    border: .41px solid rgba(240, 248, 255, 0.196);
    border-radius: 4px;
    font-size: 1em;
    width: 16vw;
    padding: 8px;
    color: #a6adba;
    font-weight: 529;
}