* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #3d3c3c;
  color: #cccccc;
}

.card {
  background-color: #f1daac;
  max-width: 200px;
  font-family: sans-serif;
  text-align: center;
  border-radius: 10px;
  padding: 5px;
  display: inline-block;
  margin: 8px;
}

.card img {
  width: 187px;
  height: 137px;
  border-radius: 10px 10px 0 0;
}

.card button {
  background-color: #e75b16;
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  cursor: pointer;
  color: #f0f8ff;
}

.card button:hover {
  background-color: #ba460c;
}

.card h2 {
  font-size: medium;
}

.card h4 {
  font-size: smaller;
}

.card h2,
.card h4,
.card p {
  background-color: transparent;
  color: #1d1d1d;
  margin: 9px;
}